# Azure OpenAI LLM GPT-5
AZURE_OPENAI_API_KEY=".........................."
AZURE_OPENAI_ENDPOINT_GPT5=".........................."
DEPLOYMENT_NAME_GPT5 = "gpt-5"
API_VERSION_GPT5 = ".........................."

# Azure OpenAI LLM GPT-5-mini
AZURE_OPENAI_API_KEY=".........................."
AZURE_OPENAI_ENDPOINT_GPT5_MINI=".........................."
DEPLOYMENT_NAME_GPT5_MINI = "gpt-5-mini"
API_VERSION_GPT5_MINI = "2025-04-01-preview"

# Azure OpenAI LLM GPT-5-nano
AZURE_OPENAI_API_KEY=".........................."
AZURE_OPENAI_ENDPOINT_GPT5_NANO=".........................."
API_VERSION_GPT5_NANO = "2025-01-01-preview"